<!DOCTYPE html>
<html ng-app>
<head>
    <title>Profile List</title>
    <script src="js/angular.min.js"></script>
    <script src="js/Profile.js" type="text/javascript"></script>
    <script src="js/ProfileList.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js" type="text/javascript"></script>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap-min.css" rel="stylesheet" type="text/css"/>  

</head>
<body>
 <p class="text-info">
    Welcome to the Profile Search.<br />   
</p>
     <div ng-controller="ProfileListCtrl">
       <form ng-submit="addToList()">
        <table>
            <tr>
                <td>First name:</td><td><input type="text" ng-model="profileFirstName"  size="50" ></td>
                <td>Last name:</td><td><input type="text" ng-model="profileLastName"  size="50" ></td>
            </tr>
            <tr>
                <td>Email :</td><td><input type="email" ng-model="profileEmail"  size="50" ></td>
                <td>Mobile:</td><td><input type="tel" ng-model="profileMobile"  size="50" ></td>
            </tr>
         </table>       
      <div > Please search the list to check the newly added item <input class="btn-primary" type="submit" value="add"></div>
      </form>
         <p>
        Search: <input type="text" ng-model="search">
        </p>
     <table class="table table-bordered">
        <tr ng-repeat="Profile in profilelist | orderBy:'name' | filter:search" >
            <td class="tdCenter"> <span">{{Profile.FirstName}}</span></td>
            <td class="tdCenter"> <span">{{Profile.LastName}}</span></td>
            <td class="tdCenter"> <span">{{Profile.Email}}</span></td>
            <td class="tdCenter"> <span">{{Profile.Mobile}}</span></td>        
        </tr>
       </table>
    </div>
</body>
</html>
